.book-item {
  width: 95%;
  min-height: 200px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5rem;
  gap: 2rem;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 10px 1px var(--shadow);
}

.book-item:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dba39a+0,fefcf3+100 */
  background: #dba39a70;
  transform: scale(1.0125);
  box-shadow: 5px 5px 10px 5px var(--shadow);
}

.book-item:hover .book-image {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 5px #e9777757;
}
.book-item:hover .desc-container {
  transform: translateX(+7%);
}

.book-image {
  position: relative;
  height: 80%;
  aspect-ratio: 105/165;
  transition: all 0.3s ease;
}
.book-image:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/testImg.jpg);
}

.desc-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  transition: all 0.3s ease;
  height: 90%;
}

.desc-container p {
  color: rgba(0, 0, 0, 0.5);
}

.book-title {
  width: 50vw;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-author {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}
